unalias d
unalias dl
unalias dt
unalias p

# List direcory contents with / after directory names
alias lsa='ls -lahF'
alias l='ls -lahF'
alias ll='ls -lhF'
alias la='ls -lAhF'

alias ......='cd ../../../../..'

alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'
alias 6='cd -6'
alias 7='cd -7'
alias 8='cd -8'
alias 9='cd -9'

alias rd=rmdir

alias mkdircd=md
alias mkdiro=md
alias mkdiropen=md

alias lsa='ls -lah'
alias l='ls -lah'
alias ll='ls -lh'
alias la='ls -lAh'

# Alias `git` as `hub`
type hub &>/dev/null && eval "$(hub alias -s)"

alias top="sudo htop"
alias tree="tree --filelimit 100 --dirsfirst -L 5 -CRa -I '.git'"

alias sha1="$(brew --prefix)/opt/openssl/bin/openssl sha1"
alias sha256="$(brew --prefix)/opt/openssl/bin/openssl sha256"

alias repair_disk_permissions="sudo /usr/libexec/repair_packages --repair --standard-pkgs --volume /"

# https://remysharp.com/2018/08/23/cli-improved
alias prettyping="prettyping --nolegend"
alias ping="echo 'ALIAS: prettyping --nolegend' && prettyping"
