registry=https://registry.npmjs.org/
@sscotth:registry=https://npm.sscotth.io/
init-author-name=Scott Humphries
init-author-email=npm@sscotth.io
init-author-url=https://sscotth.io/
init-license=MIT
progress=true
