"*":
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "3d441044-a613-92a3-c1ba-424300161faf"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui":
    layoutMode: "Compact"
  tabs:
    usePreviewTabs: true
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
