"*":
  "atom-clock":
    dateFormat: " h:mm a"
    refreshInterval: 5
    showClockIcon: true
  "atom-material-ui":
    colors:
      genAccent: true
    fonts:
      fontSize: 12
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    telemetryConsent: "no"
    titleBar: "custom"
  "dark-flat-ui":
    accentColor: "green"
  editor:
    fontFamily: "Operator Mono"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "3d441044-a613-92a3-c1ba-424300161faf"
  "isotope-light-ui":
    backgroundGradient: true
    fontFamily: "Fira Sans"
    fontWeight: "Light"
    minimalMode: true
  "isotope-ui":
    fontFamily: "Fira Sans"
    fontWeight: "Light"
    minimalMode: true
  linter: {}
  "linter-js-standard":
    checkStyleDevDependencies: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-pug":
    onlyRunWhenConfig: true
  "linter-sass-lint":
    noConfigDisable: true
  "one-dark-ui":
    fontSize: 10
    tabSizing: "Minimum"
  "one-light-ui":
    fontSize: 10
    layoutMode: "Compact"
    tabSizing: "Minimum"
  tabs:
    usePreviewTabs: true
  "theme-switch":
    profiles: [
      "atom-dark-ui atom-dark-syntax"
      "one-light-ui fizzy"
    ]
  "tree-view": {}
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
