"*":
  "atom-clock":
    dateFormat: " h:mm a"
    refreshInterval: 5
    showClockIcon: true
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Operator Mono"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "3d441044-a613-92a3-c1ba-424300161faf"
  linter:
    showErrorInline: false
    showErrorTabLine: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-sass-lint":
    noConfigDisable: true
  "one-dark-ui":
    fontSize: 10
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "one-light-ui":
    fontSize: 10
    layoutMode: "Compact"
    tabSizing: "Minimum"
  tabs:
    usePreviewTabs: true
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
