@import "ui-variables";

[theme-one-dark-ui-tabsizing="minimum"],
[theme-one-light-ui-tabsizing="minimum"] {
  .tab-bar .tab .title, .tab-bar .tab.active .title {
    padding: 0 12px;
  }
}

.theme-one-light-ui, .theme-one-dark-ui {
  .tree-view, .tab-bar {
    .icon::before { // when (@ui-size) {
      font-size: @ui-size;
      width: @ui-size;
    }
  }
}

atom-text-editor::shadow {
  .entity.other.attribute-name {
    font-style: italic;
  }
}
